:root {
    font-size: 16px;

    --dark1: #0a0a0a;
    --dark2: #111111;
    --dark3: #181818;
    --dark4: #262626;

    --purple: #7300FF;
    --red: #FF0037;
    --yellow: #FFBB00;
    --green: #4AD295;
    --white: #F7F7FF;
    --black: #000000;
}

@font-face {
    font-family: cubano;
    src: url(../fonts/Cubano.ttf);
}

@font-face {
    font-family: whitney;
    src: url(../fonts/Whitney-Semibold.ttf);
}

@font-face {
    font-family: whitney;
    src: url(../fonts/Whitney-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: consolas;
    src: url(../fonts/Consolas.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-rows: 4rem auto;
    height: 100vh;
    width: 100vw;
    font-family: whitney;
    background: var(--dark2);
    color: var(--white);
}

h1 {
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}

text {
    all: unset;
    font-family: consolas;
}

.code1 {
    background: var(--dark1);
    padding: 0.25rem;
    border-radius: 0.25rem;
    height: 1rem;
}

.code2 {
    background: var(--dark1);
    padding: 0.5rem;
    border-radius: 0.25rem;
    flex-grow: 1;
    border-left: 0.25rem solid var(--dark1);
}

/* cb = Code Border */

.cbred {
    border-left-color: var(--red);
}

.cbgreen {
    border-left-color: var(--green);
}

.cbyellow {
    border-left-color: var(--yellow);
}

/* navbar */

nav {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--dark2);
    user-select: none;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--dark1);
}

.title img {
    max-width: 2rem;
    max-height: 2rem;
    filter: invert(77%) sepia(51%) saturate(3526%) hue-rotate(359deg) brightness(106%) contrast(105%);
}

.title span {
    font-size: 1.5rem;
    color: var(--font-color);
    color: var(--yellow);
    margin-left: 0.5rem;
}

.links {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 0.5rem;
    height: 100%;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 1.25rem;
}

/* sidebar */

.sidebar {
    display: flex;
    width: 16rem;
    background: var(--dark2);
    user-select: none;
}

.close-sidebar {
    display: none;
}

.sidebar ul li {
    position: relative;
    margin: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    transition: all ease-in-out 250ms;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--white);
}

.sidebar ul li a:hover {
    color: var(--green);
}

/* main */

main {
    border-top-left-radius: 1rem;
    background: var(--dark3);
    overflow: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main::-webkit-scrollbar {
    display: none;
}

main .control {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--green);
}

main .control button {
    all: unset;
    text-decoration: none;
    color: var(--dark1);
}

main .control button:hover {
    text-decoration: underline 0.125rem solid;
}

main > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--dark2);
}

main div p {
    line-height: 1.5rem;
    width: max-content;
}

main div img {
    max-width: 100%;
    border-radius: 0.5rem;
    flex-grow: 1;
}

.columns {
    display: flex;
    gap: 0.5rem;
    align-items: normal;
}

.columns section {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;
}

.columns section div[data-type="img"] {
    position: relative;
    display: flex;
}

.columns section img {
    flex-grow: 0;
}

.columns section div[data-type="img"]:hover::after {
    opacity: 1;
}

.columns section div[data-type="img"]::after {
    content: attr(data-order);
    position: absolute;
    border-radius: 0.5rem;
    background: #F7F7FF37;
    backdrop-filter: blur(0.25rem);
    box-shadow: inset 0 0 0 0.25rem #F7F7FF73;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    transition: 250ms ease;
}